/* Variables */
// colors
$white: #fff;
$black: #000;
$blue: #0d5ade;
$darkblue: #004680;
$lightblue: #05c3de;
$gray: #555555;
// fonts
$font_family: "ProximaNova", sans-serif, Arial;
$font_weight_bold: 600;
$font_weight_normal: 300;
$font_weight_light: 200;
// sizes window
$mobile_p: 480px;
$mobile_l: 767px;
$tablets: 1024px;
$desctops_s: 1280px;
$desctops_m: 1440px;
$desctops_l: 1919px;

// animation start
$skills-start-anim: 0.8;

$margin_default: rem(40);
$margin_title: rem(5);
