@import "../../static/sass/variables.scss";
@import "../../static/sass/mixins.scss";

.socicons {
  display: flex;
  flex-wrap: nowrap;

  &__icon {
    color: #fff;
    background: transparent;
    border-radius: 100%;
    border: 1px solid #fff;
    text-decoration: none;
    width: 30px;
    height: 30px;
    font-size: 14px;
    position: relative;
    margin: 0px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition;

    &:hover {
      background: $white;
      color: $blue;
    }
  }
  .socicons__icon {
    &:first-child {
      margin-left: 0;
    }
  }
}
