@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

@media (max-width: $mobile_l) {
  .products__wrap {
    padding: 0;
  }
}

.products__items {
  padding: 67px 0 0;
  @media (max-width: $mobile_l) {
    padding: 45px 0 0;
  }

  .products__item {
    padding: 130px 0;
    display: flex;
 
    @media (max-width: $mobile_l) {
      flex-direction: column;
      padding: 56px 0;
    }
    .products__item--left {
      width: 40vw;
      @media (max-width: $mobile_l) {
        width: 100%;
      }
    }
    .product-logo {
      margin-bottom: 50px;

      @media (max-width: $mobile_l) {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
        max-width: 180px;
      }
    }
    .products__item--right {
      width: 60vw;
      padding-left: 80px;
      @media (max-width: $mobile_l) {
        width: 100%;
        padding-left: 0px;
      }
      .products__description {
        width: 85%;
        @media (max-width: $mobile_l) {
          text-align: center;
          margin: 40px auto 0;
        }
        div {
          margin-bottom: 46px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.products__item-1 {
  color: #fff;
  background: #1b1b1b;
  .pass-media_logo {
    max-width: 298px;
    width: 100%;
  }
  .pass-media_bg {
    max-width: 931px;
    width: 100%;
    @media (max-width: $mobile_l) {
      width: 90%;
    }
  }
}
.products__item-2 {
  .uma_bg {
    width: 89%;
  }
}
.products__item-3 {
  background: #000;
  color: #fff;
  @media (max-width: $mobile_l) {
    .trex_media_bg {
      max-width: 221px;
      padding-left: 0px !important;
    }
  }
}
@media (max-width: $mobile_l) {
  .products__item-4 {
    padding-bottom: 0!important;
    .cdn_bg {
      max-width: 86px;
      padding-left: 0px !important;
    }
  }
}
.products__item-3,
.products__item-4 {
  .products__item--left {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      padding-left: 80px;
    }
  }
}
