@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.page404__wrap {
  color: #fff;
  background: $blue url("../../images/bg/page404_bg.svg") no-repeat right
    calc(50% + 3.7rem);
  background-size: 45%;
  margin-top: 0 !important;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 3.7rem) !important;
  padding-top: 0;
  @media (max-width: $mobile_l) {
    padding-bottom: 0px !important;
    padding-top: 30px !important;
    background: $blue;
    min-height: calc(100vh - 6rem) !important;
  }
  .page404__bg {
    background: $blue url("../../images/bg/page404_bg.svg") no-repeat right 0;
    background-size: contain;
    height: 33vh;
    margin-top: 6vh;
    margin-right: -17%;
  }

  .typography--header {
    font-weight: 400;
    margin-top: rem(93);
    margin-bottom: rem(30);
    @media (max-width: $mobile_l) {
      margin-top: 7vh;
      margin-bottom: 15px;
    }
    span {
      color: #fff;
      margin-left: 0;
      font-weight: 600;
    }
    .logo img {
      height: 50px;
      width: auto;
    }
    @media (max-width: $mobile_l) {
      font-size: 30px;
      line-height: 37px;
    }
  }
  @media (max-width: $mobile_l) {
    .button {
      width: 131px;
      height: 34px;
      font-size: 14px;
      border: 1.25px solid #ffffff;
    }
  }
}
.footer.page404 {
  height: auto;
  @media (max-width: $mobile_l) {
    height: 6rem;
    padding: 20px 0 20px;
  }
  .footer__block {
    height: auto;
  }
  .footer__nav.footer__row,
  .footer__row:nth-child(2) {
    display: none;
  }
  @media (max-width: $mobile_l) {
    .footer__row:first-child {
      display: none;
    }
    .footer__license {
      display: flex !important;
    }
  }
}
